<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h6><strong>BTC</strong></h6>
        </div>
        <div class="col">
          <h6 style="color: #f4b406;">(+5.84%)</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Bitcoin</h6>
        </div>
        <div class="col">
          <h6>$451547</h6>
        </div>
      </div>
      <div class="dropdown-divider"></div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h6><strong>LTC</strong></h6>
        </div>
        <div class="col">
          <h6 style="color: #f4b406;">(+15.07%)</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Litecoin</h6>
        </div>
        <div class="col">
          <h6>$ 156.08 </h6>
        </div>
      </div>
      <div class="dropdown-divider"></div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h6><strong>ETH</strong></h6>
        </div>
        <div class="col">
          <h6 style="color:#e42526">(-9.22%)</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Ethereum</h6>
        </div>
        <div class="col">
          <h6>$954.85</h6>
        </div>
      </div>
      <div class="dropdown-divider"></div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h6><strong>BTC</strong></h6>
        </div>
        <div class="col">
          <h6 style="color: #f4b406;">(+5.84%)</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
					<h6>Bitcoin</h6>
        </div>
        <div class="col">
          <h6>$451547</h6>
        </div>
      </div>
      <div class="dropdown-divider"></div>
    </div>
  </div>
</div>