
<div class="container">
	<div>
		<nav class="navbar navbar-expand-lg justify-content-between ">
			<a class="navbar-brand" style="font-size: 180%;"><strong>((: chinchin</strong></a>
			<form class="form-inline">
				<a class="mr-sm-4" style="margin-top: 10px;">
					<h6 style="color: #16c4a4;">6.449.982,01 VES</h6>
				</a>
				<button class="btn btn-sm btn-outline  mr-sm-2" type="button" style="background-color: #16c4a4; color: white;">Pagar - Orden</button>
				<button class="btn btn-sm btn-outline  mr-sm-2" type="button" style="background-color: #16c4a4; color: white;">Compra - Venta</button>
				<a class="mr-sm-4" style="margin-left: 20px; color: #16c4a4">RafaelCm86</a>
			</form>
		</nav>
	</div>
  <div>
		<div class="row m-0">
			<h1>Bienvenido</h1>
		</div>
		<div class="row m-0">  
			<span> Mis Billeteras o cuentas</span>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card coinsClass">
				<ul class="list-group list-group-flush">
					<li class="list-group-item" style="background-color:#216541; color: white;"><strong>Bolivar Soberano</strong></li>
					<li class="list-group-item" style="color: #877778;"><strong>1.024.254,09 VES</strong></li>
				</ul>
			</div>
		</div>
		<div class="col">
			<div class="card coinsClass" style="width: 22rem; margin-top: 25px;">
				<ul class="list-group list-group-flush">
					<li class="list-group-item" style="background-color:#f4b406; color: white;"><strong>Bitcoin</strong></li>
					<li class="list-group-item" style="color: #877778;"><strong>0,0034186 BTC</strong></li>
				</ul>
			</div>
		</div>
		<div class="col">
			<div class="card coinsClass" style="width: 22rem; margin-top: 25px;">
				<ul class="list-group list-group-flush">
					<li class="list-group-item" style="background-color:#e42526; color: white;"><strong>Petro</strong></li>
					<li class="list-group-item" style="color: #877778;"><strong>1 PTR</strong></li>
				</ul>
			</div>
		</div>
	</div>
	<div style="margin-top: 25px;">
		<div class="row">
			<div class="col">
				<span>Mis ultimas transacciones</span>
			</div>
		</div>
		<div class="row" style="margin-top: 15px;">
			<div class="col">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">TRANSACCION</th>
							<th scope="col">MONTO</th>
							<th scope="col">ESTATUS</th>
							<th scope="col">FECHA</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="color: #e42526;">ENVIO DE FONDOS</td>
							<td><strong>5.058,00 VES</strong></td>
							<td><span class="badge badge" style="background-color:#f4b406; width: 100px; color: white;">PENDIENTE</span></td>
							<td>12/11/2019 17:11:24</td>
						</tr>
						<tr>
							<td style="color: #e42526;">ENVIO DE FONDOS</td>
							<td><strong>100,00 VES</strong></td>
							<td><span class="badge badge" style="background-color:#f4b406; width: 100px; color: white;">CONFIRMADA</span></td>
							<td>12/11/2019 17:11:24</td>
						</tr>
						<tr>
							<td style="color: #f4b406;">RECIBO DE FONDOS</td>
							<td><strong>5.058,00 VES</strong></td>
							<td><span class="badge badge" style="background-color: #e42526; width: 100px; color: white;">RECHAZADO</span></td>
							<td>12/11/2019 17:11:24</td>
						</tr>
						<tr>
							<td style="color: #16c4a4;">ENVIO DE FONDOS</td>
							<td><strong>5.058,00 VES</strong></td>
							<td><span class="badge badge" style="background-color: #16c4a4; width: 100px; color: white;">PENDIENTE</span></td>
							<td>12/11/2019 17:11:24</td>
						</tr>
						<tr>
							<td style="color: #16c4a4;">ENVIO DE FONDOS</td>
							<td><strong>5.058,00 VES</strong></td>
							<td><span class="badge badge" style="background-color: #16c4a4; width: 100px; color: white;">PENDIENTE</span></td>
							<td>12/11/2019 17:11:24</td>
						</tr>
						<tr>
							<td style="color: #16c4a4;">ENVIO DE FONDOS</td>
							<td><strong>5.058,00 VES</strong></td>
							<td><span class="badge badge" style="background-color: #16c4a4; width: 100px; color: white;">PENDIENTE</span></td>
							<td>12/11/2019 17:11:24</td>
						</tr>
						<tr>
							<td style="color: #16c4a4;">ENVIO DE FONDOS</td>
							<td><strong>5.058,00 VES</strong></td>
							<td><span class="badge badge" style="background-color: #16c4a4; width: 100px; color: white;">PENDIENTE</span></td>
							<td>12/11/2019 17:11:24</td>
						</tr>
						<tr>
							<td style="color: #16c4a4;">ENVIO DE FONDOS</td>
							<td><strong>5.058,00 VES</strong></td>
							<td><span class="badge badge" style="background-color: #16c4a4; width: 100px; color: white;">PENDIENTE</span></td>
							<td>12/11/2019 17:11:24</td>
						</tr>
						<tr>
							<td style="color: #16c4a4;">ENVIO DE FONDOS</td>
							<td><strong>5.058,00 VES</strong></td>
							<td><span class="badge badge" style="background-color: #16c4a4; width: 100px; color: white;">PENDIENTE</span></td>
							<td>12/11/2019 17:11:24</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="footer" style="margin-top: 50px;">
		<div class="row">
			<!-- <div class="col">
				<h6>Footer</h6>
			</div> -->
		</div>
	</div>
</div>