h1 {
 font-size: 400%;
 margin-top: 25px;
}
.coinsClass {
 width: 22rem; margin-top: 25px; 
 -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.66);
 -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.66);
 box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.66);
}
.footer {
 background: #ebf2f2; 
 padding: 130px;
 border-radius: 31px 31px 0px 0px;
 -moz-border-radius: 31px 31px 0px 0px;
 -webkit-border-radius: 31px 31px 0px 0px;
 border-right: 30px;
 border-bottom: 30px;
 
}
footer:after {
 content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     -webkit-transform-origin: 100% 0;
     -ms-transform-origin: 100% 0;
     transform-origin: 100% 0;
     -webkit-transform: skew(-45deg);
     -ms-transform: skew(-45deg);
     transform: skew(-45deg);
     z-index: -1;
}